<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>腾讯云</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_749083_9eh66pdrfhp.css" />
    <link rel="stylesheet" href="https://imgcache.qq.com/open_proj/proj_qcloud_v2/mc_2014/overview/css/v3/overview.css" />
    <link rel="stylesheet" href="https://imgcache.qq.com/open_proj/proj_qcloud_v2/bee-v2/css/bee.css" />
</head>
<body class="hold-transition skin-cloud sidebar-mini">
    <div id="app" class="wrapper">
      <header class="main-header">
        <!-- Logo -->
        <a href="index.html" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"> <i class="iconyuan">&#xe601;</i></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg">腾讯云</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle iconfont icon-liebiao1" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <router-link class="sidebar-toggle sidebar-link" to="/home" >总览 </router-link>
          <!-- vue路由 -->
          <div class="vue-menu">
          <!-- <router-link class="sidebar-toggles" to="/home" >总览 </router-link> -->
          <router-link exact v-if="item.meta&&item.path!='/'" v-for="item in $route.query.head" :class="[$route.meta.active ===item.meta.active ? 'sidebar-toggle router-link-active' : 'sidebar-toggle']"  :to="{path:item.default}" >
            {{item.meta.title}}
          </router-link>
         </div>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">    
              <!-- <li><a href="#" data-toggle="fullscreen" title="全屏"><i class="fa fa-arrows-alt">全屏</i></a></li> -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="assets/dist/img/tongxiang1.jpg" class="user-image" >
                  <span class="hidden-xs" id="username">游客</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="assets/dist/img/tongxiang2.jpg" class="img-circle">
                    <p>
                      管理员
                      <small>2016.12.15</small>
                    </p>
                  </li>
                  <!-- Menu Body -->
                  <li class="user-body">
                    <div class="col-xs-4 text-center">
                      <a href="#">关注</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">推荐</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">朋友</a>
                    </div>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">账号设置</a>
                    </div>
                    <div class="pull-right">
                      <a href="#" class="btn btn-default btn-flat">退出</a>
                    </div> 
                  </li>
                </ul>
              </li>
              <li>
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" title="语言切换" aria-expanded="false">语言</a>
                <ul class="dropdown-menu menu-panel">
                  <li class="active">
                      <a href="javascript:;">简体中文</a>
                  </li>
                  <li class="">
                      <a href="javascript:;">English</a>
                  </li>
              </ul>
              </li>
              <li class="dropdown notifications-menu">
                <a href="#" class="menu-icon" data-toggle="dropdown">
                 <i class="iconfont icon-icon_notice"></i>
                  <span class="label icon_notice">10</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">你有10条消息</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-aqua"></i>5个人关注了你
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-warning text-yellow"></i>看看
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-red"></i> 6个新成员加入
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-shopping-cart text-green"></i>25条推荐
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-user text-red"></i> 你更新了你的用户名
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a href="#">查看全部</a></li>
                </ul>
              </li>
              <li>
                  <a href="#" class="menu-icon" ><i class="iconfont icon-quanping"></i></a>
              </li>
              <li>
                <a href="#" class="menu-icon"  data-toggle="control-sidebar"><i class="iconfont icon-zititubiao20"></i></a>
              </li>

            </ul>
          </div>
        </nav>
      </header>
      <!-- 路由匹配到的组件将渲染在这里 -->
      <router-view></router-view>

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs"></ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Home tab content -->
          <div class="tab-pane" id="control-sidebar-home-tab"></div>
        </div>
      </aside>
      <div class="control-sidebar-bg"></div>
    </div>
    <div class="top-alert" id="topAlert" style="z-index: 1100;margin-left: -200px;display: none;"><span id="flashMsg" class="top-alert-icon-doing fade-out">正在加载…</span></div>
    <script type="text/javascript" src="https://lastsoup.github.io/themes/nifty/js/jquery-2.2.4.min.js"></script>
    <script src="assets/bootstrap/bootstrap.js"></script>
    <script src="assets/dist/js/app.js"></script>
    <script src="assets/dist/js/jquery.slimscroll.min.js"></script>
    <script src="assets/dist/js/demo.js"></script>
  </body>
</html>